<app-discord-integration
        (connection)="onConnection($event)"></app-discord-integration>
<app-youtube
        (selected)="onSoundSelected($event)"></app-youtube>
<mat-card>
    <mat-card-title>SoundBox</mat-card-title>
    <mat-card-content
            class="sound-container">
        <ng-container
                *ngFor="let sound of sounds$ | async">
            <app-sound-tile
                    (selected)="onSoundSelected($event.filename)"
                    [sound]="sound"></app-sound-tile>
        </ng-container>
    </mat-card-content>
</mat-card>
