.container {
  display: flex;
  flex-direction: row;
}

.sound-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-card {
  margin: 5px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
