<section class="container">
    <app-discord-integration
            (connection)="onConnection($event)"></app-discord-integration>
    <section>
        <mat-card>
            <mat-card-title>SoundBox</mat-card-title>
            <mat-card-content>
                <app-youtube
                        (selected)="onSoundSelected($event)"></app-youtube>
                <section
                        class="sound-container">
                    <app-sound-tile
                            (selected)="onSoundSelected($event.filename)"
                            *ngFor="let sound of sounds$ | async"
                            [sound]="sound"></app-sound-tile>
                </section>
            </mat-card-content>
        </mat-card>
    </section>
</section>
