<mat-card>
    <mat-card-title>Gifs</mat-card-title>
    <mat-card-content>
        <section class="gif-container">
            <video aria-label="Animation of Dadigel dancing in a dino suit." autoplay loop muted playsinline>
                <source src="../../assets/dadi-dino-dance.webm" type="video/webm">
            </video>
            <video aria-label="Animation of Dadigel making middle fingers." autoplay loop muted playsinline>
                <source src="../../assets/dadi-fingers.webm" type="video/webm">
            </video>
        </section>
    </mat-card-content>
</mat-card>
