<mat-card>
    <mat-card-title>Discord Bot</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Guilds</mat-label>
            <mat-select
                    (ngModelChange)="selectGuild($event)"
                    [ngModel]="selectedGuildId">
                <mat-option
                        *ngFor="let g of guilds$ | async"
                        [value]="g.id">
                    {{g.name}} ({{g.id}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedGuildId">
            <mat-label>Channels</mat-label>
            <mat-select
                    (ngModelChange)="selectChannel($event)"
                    [ngModel]="selectedChannelId">
                <mat-option
                        *ngFor="let c of channels$ | async"
                        [value]="c.id">
                    {{c.name}} ({{c.id}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button
                (click)="joinChannel()"
                *ngIf="selectedGuildId && selectedChannelId && botStatus?.joinedChannel?.id != selectedChannelId"
                [disabled]="loading"
                color="primary"
                mat-raised-button>
            Join
        </button>
        <button
                (click)="leaveChannel()"
                *ngIf="selectedGuildId && botStatus?.joinedChannel as joinedChannel"
                [disabled]="loading"
                color="warn"
                mat-button>
            Leave {{joinedChannel.name}}
        </button>
        <mat-spinner
                *ngIf="loading"
                [diameter]="20"></mat-spinner>
        <mat-form-field
                *ngIf="botStatus?.playingTrack as track">
            <mat-label>Now playing</mat-label>
            <input
                    [value]="track.title"
                    disabled
                    matInput>
        </mat-form-field>
    </mat-card-content>
</mat-card>
