section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

mat-form-field {
  margin-right: 10px;
  width: 100%;
}

mat-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-spinner {
  margin-left: 10px;
}

.channel-id {
  font-size: 10px;
  color: dimgray;
}

button {
  margin-left: 15px;
}
