<mat-card>
    <mat-card-title>Discord Bot</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Guilds</mat-label>
            <mat-select
                    (ngModelChange)="selectGuild($event)"
                    [ngModel]="selectedGuild">
                <mat-option
                        *ngFor="let g of guilds$ | async"
                        [value]="g">
                    {{g.name}} ({{g.id}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedGuild">
            <mat-label>Channels</mat-label>
            <mat-select
                    (ngModelChange)="selectChannel($event)"
                    [ngModel]="selectedChannel">
                <mat-option
                        *ngFor="let c of channels$ | async"
                        [value]="c">
                    {{c.name}} ({{c.id}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button
                (click)="joinChannel()"
                *ngIf="selectedGuild && selectedChannel && joinedChannel?.id != selectedChannel.id"
                [disabled]="loading"
                color="primary"
                mat-raised-button>
            Join {{selectedChannel.name}}
        </button>
        <button
                (click)="leaveChannel()"
                *ngIf="selectedGuild && joinedChannel"
                [disabled]="loading"
                color="warn"
                mat-button>
            Leave {{joinedChannel.name}} ({{selectedGuild.name}})
        </button>
        <mat-spinner
                *ngIf="loading"
                [diameter]="20"></mat-spinner>
        <mat-form-field
                *ngIf="playingTrack$ | async as track">
            <mat-label>Now playing</mat-label>
            <input
                    [value]="track.title"
                    disabled
                    matInput>
        </mat-form-field>
    </mat-card-content>
</mat-card>
